/* Write CSS code here for nameplate-2 */

nav
{
    background-color:rgba(0, 0, 0, 0.807);
}

nav ul li a{

    text-decoration: none;
    color: whitesmoke;
    font-weight: 100;
    font-size: 1.2rem;
}
nav ul
{
    list-style: none;
    font-weight: bold;
    color: whitesmoke;
    font-size: 1.2rem;
}
#id1,#id2,#id3
{
    float: left;
    padding: 25px;
}

#id4,#id5
{
    float: left;
    padding: 25px;
    padding-left: 410px;
}

#button
{
    color: black;
    padding: 5px 20px;
    border-radius: 8px;
    background-color:rgba(145, 205, 243, 0.907);
}

nav::after
{
    clear: left;
    content: "";
    display: block;
}